<% provide(:title, "Home") %>
<h1>Home</h1>
<p>
    This page is the home page for the
    <a href="https://07e45dca9ce9478bbaddef031c84fb77.vfs.cloud9.us-east-2.amazonaws.com/users">"Chance-app"</a>
</p>